footer {
    background: radial-gradient(circle, $bg-blanquito , $bg-medioclaro, $bg-rosita );
    color: $bg-negro;
    padding: 20px;
    text-align: center;
    .footer-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 10px;
        a {
            color: $bg-negro;
            font-size: 1.5rem;
            text-decoration: none;
            &:hover {
                color: $bg-fucsia;
            }
        }
    }
}