
main{
    .productos{
        color:$bg-fucsia;
        text-align: center;
        margin-top: 40px;
        padding-bottom: 30px;
        font-size: 4rem;
        font-weight: bold; 
    }
    .compra{
        color: $bg-negro;
        padding: 10px;
        text-align: center;
        margin-top: 30px;
        font-size: 2.5rem; 
        font-weight: bold; 
    }
    .galeria {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;  
        margin: 30px;
        justify-content: center;
        .galeria-item {
            width: 25%;
            box-sizing: border-box;
            position: relative;
            img {
                width: 100%;
                height: auto; 
                display: block; 
                border-radius: 8px; 
                transition: transform 0.3s ease-in-out; 
                &:hover {
                    transform: scale(1.05);
                }
            }
            .nombre-producto {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: $bg-rosita(0, 0, 0, 0.5); 
                color: $bg-fucsia; 
                text-align: left;
                padding: 5px;
                border-radius: 0 0 8px 8px; 
                font-size: 4rem;
                font-weight: bold; 
                font-stretch: ultra-condensed;
                text-overflow: ellipsis;
                &:hover{
                    font-size: 5rem; 
                    color: $bg-negro;
                }
            }
        }
    } 
    .pedir{
        margin: 30px;
        h4{
            color: $bg-negro;
            text-align: center;
            font-size: 2.5rem; 
            font-weight: bold; 
            margin: 0;
        } 
        p{
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
        }     
        a{
            text-decoration: none;
            color: $bg-negro;
            font-size: 2.5rem; 
            font-weight: bold; 
            text-align: center;
            justify-content: center;
            margin-left: 550px;
            &:hover{
                font-size: 2.7rem; 
                color: $bg-fucsia;
            }
        } 
    }
 
}