*{
    padding:0;
    margin:0;
    box-sizing: border-box;
 }
@font-face {
    font-family: AmaticSC-Regular;
    src: url(../Font/Amatic_SC/AmaticSC-Regular.ttf);
}   
body{
   background-color: $bg-claro;
    font-family:"AmaticSC-Regular";
    .background-video{
      width: 100%;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
} 